<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="ISO-8859-1">
<title>{% block head_title %}IRCTC BOOKING{% endblock head_title %}</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
<link rel='stylesheet' href='{% static "/css/base.css" %}' />
<style>
{% block style %}{% endblock style %}
</style>
{% block head_extra %}{% endblock head_extra %}
</head>
<body style="background-color:powderblue;">
<br />
<div class='container'>
	<ol class='breadcrumb'>
		{% if not request.user.is_authenticated %}
		<li class='breadcrumb-item'	><a href='{% url "login" %}'>Login</a></li>
		{% else %}
			<li class='breadcrumb-item'><a href='{% url "accounts:index" %}'>Home</a></li>
			{% if request.user.is_superuser %}
			<li class='breadcrumb-item'><a href='{% url "register" %}'>Register</a></li>
			{% endif %}
		<li class='breadcrumb-item'><a href='{% url "logout" %}'>Logout</a></li>
		{% endif %}
	</ol>
{% block content %}
{% endblock content %}
</div>
{% block scriptcontent %}
{% endblock scriptcontent %}


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.0/marked.min.js"></script>

</body>
</html>