{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1 style="color:NAVY;">IRCTC Ticket booking status</h1>
<hr />
{% if status == '' %}
<p style="color:red;"><b>Apologize for inconvenience. Error in booking ticket. Click <a href='{% url "accounts:index" %}'>here!</a> To book again. </b></p>
{% else %}
<p style="color:green;"><b>IRCTC Ticket is booked for your request with IRCTC STATUS: <i>{{ status }}</i>. Click <a href='{% url "accounts:index" %}'>here</a>! For booking another ticket </b></p>
{% endif %}
</div>
{% endblock content %}