{% extends "base.html" %}
{% block head_extra %}
{% load static %}
<link rel='stylesheet' href="{% static 'css\bootstrap.min.css' %}">
<link rel='stylesheet' href="{% static 'css\jquery-ui.css' %}">
<link rel='stylesheet' href="{% static 'css\jquery-impromptu.min.css' %}">
<link rel='stylesheet' href="{% static 'css\optionsaStyles.css' %}">
{% endblock head_extra %}
{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1 style="color:NAVY;">{{ title }}</h1>
<hr />

<form method='POST' action='' enctype='multipart/form-data'>
{% csrf_token %}
<div class="panel panel-primary">
	<div class="panel-heading"> Register User </div>
		<div class="panel-body">
			<div class="input-group">
				{% for field in form %}
					<div class="input-group">
					<span class="input-group-addon" for="{{ field.name }}">
				    {% if field.name == 'username' %}
				    <span class="glyphicon glyphicon-user"></span>
				    {% elif field.name == 'email' %}
				    <span class="glyphicon glyphicon-home"></span>
				    {% elif field.name == 'password' or field.name == 'password2' %}
				    <span class="glyphicon glyphicon-lock"></span>
				    {% endif %}
				    </span>
				    {{field}}
				    </div>
				{%endfor%} <br />
				<button class='btn btn-primary' type="submit", name="register", value="register">Register</button>
			</div>
		</div>
</form>
<script>
    $("#id_payment_option").change(function () {
      var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var countryId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'country': id_payment_option       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_payment_method").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
</script>
</div>
{% endblock content %}